//This file contains all styles, built on the Siimple framework
@import "node_modules/siimple/src/siimple.scss";
@import "node_modules/sass-mixins/mixins.scss";

//remove padding/margin from buttons/forms
.btn, .form-input[type="text"], .form-input[type="password"], .form-input[type="number"], .form-input[type="email"] {
	margin-left: 0;
}

//main colors
$light: #FFF;
$dark: #000;
$primary: #25ced1;
$secondary: #ea526f;
$tertiary: #ff8a5b;

//mixes
$grey1: mix($light, $dark, 20%);
$grey2: mix($light, $dark, 40%);
$grey3: mix($light, $dark, 60%);
$grey4: mix($light, $dark, 80%);

$p_dark4: mix($dark, $primary, 80%);
$p_dark3: mix($dark, $primary, 60%);
$p_dark2: mix($dark, $primary, 40%);
$p_dark1: mix($dark, $primary, 20%);
$p_fade1: mix($light, $primary, 20%);
$p_fade2: mix($light, $primary, 40%);
$p_fade3: mix($light, $primary, 60%);
$p_fade4: mix($light, $primary, 80%);

//modals
.modal-wrapper {
	.modal {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		@include x-transform(translate(-50%, -50%));
		border-radius: 10px;
		background-color: $light;
		padding: 12px 20px 0 20px;
		box-sizing: border-box;
	}
	.back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($dark, 0.2);
	}
	.close {
		position: absolute;
		right: 20px;
		top: 13px;
		font-weight: bold;
		font-family: cursive;
		cursor: pointer;
	}
	&.show .modal, &.show .back{
		display: block;
	}
}

//pages
$header-height: 60px;
.site-header {
	display: block;
	height: $header-height;
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
	router-link {
		text-decoration: none;
		border-bottom: 2px solid $p_dark1;
		background-color: $primary;
		color: $light;
		display: inline-block;
		height: $header-height;
		line-height: $header-height;
		padding: 0 0px;
		box-sizing: border-box;
		width: 20%;
		float: left;
		text-align: center;
		font-weight: bold;
		font-family: monospace;
		cursor: pointer;
		&.router-link-active {
			background-color: $p_dark1;
			border-bottom-color: $p_dark2;
		}
	}
}

.developers, .projects, .tickets {
	display: block;
	padding: 20px;
	.title {
		display: inline;
	}
	.add-edit-button {
		float: right;
	}
}
