<h2 class="title">Developers</h2>
<div class="btn add-edit-button" (click)="add_edit()">Add</div>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Email</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let d of devs">
			<td>{{d.id}}</td>
			<td>{{d.email}}</td>
		</tr>
	</tbody>
</table>
<!-- //TODO: add close button / close when click overlay to modal -->
<div class="modal-wrapper" [class.show]="editing">
	<div class="back" (click)="close()"></div>
	<div class="modal">
		<span class="close" (click)="close()">X</span>
		<h4>Create a new Developer</h4>
		<input type="text" class="form-input" placeholder="Email" [(ngModel)]="form.email"/>
		<div class="btn" (click)="submit()">Create</div>
	</div>
</div>
