<div class="developers">
	<h2 class="title">Developers</h2>
	<router-link class="btn add-edit-button" path="/create">Add</router-link>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Id</td>
				<td>Email</td>
			</tr>
		</thead>
		<tbody>
			<%= for dev <- @api do %>
				<tr>
					<td><%= dev.id %></td>
					<td><%= dev.email %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= router assigns, "/create" %>
</div>
