<div class="site-header">
	<router-link path="/developers">Developers</router-link>
	<router-link path="/projects">Projects</router-link>
	<router-link path="/tickets">Tickets</router-link>
	<router-link path="/servers">Servers</router-link>
	<router-link path="/clients">Clients</router-link>
</div>
