<router-section <%= if @router_path do %> path="<%= @router_path %>"<% end %><%= if @template do %> template="<%= @template %>"<% end %>>
	<%= if @router_path do %>
		<%= render @router_path <> ".html", assigns %>
	<% end %>
</router-section>
