<router-section<%= if @context[:trigger] do %> trigger="<%= @context[:trigger] %>"<% end %><%= if @context[:current_path] do %> path="<%= @context[:current_path] %>"<% end %>>
	<%= if @context[:template] != nil and @context[:template] <> ".html" in @template_names do %>
		<%= render @context[:template] <> ".html", assigns %>
	<% end %>
</router-section>
